.table-container {
  position: relative;
  height: 700px;
  width: 100%;
  background-color: #FAFAFA;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 550px) {
    // height: 600px;
  }
}

.table {
  position: absolute;
  margin: 65px 5px 240px;
  max-width: 1090px;
  min-width: 400px;
  // font-size: 10px;

  @media (max-width: 570px) {
    font-size: 13px;
  }
}