.hero {
  align-items: center;
}

.hero-body {
  max-width: 1181px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #333333;
}