.pointers {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-row-gap: 4px;
  grid-column-gap: 5px;
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(20, 1fr);
  width: 275px;
  height: 400px;
  z-index: -1;
}

.point {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #C4C4C4;
  margin: 4px 6px;
}
