.navbar {
  position: relative;
  top: 20px;
  background-color: transparent;
  margin: 0 30px
}

.navbar-item {
  color: white;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #076572;
  }
}

a.navbar-item:focus, 
a.navbar-item:focus-within, 
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus, 
.navbar-link:focus-within, 
.navbar-link:hover, 
.navbar-link.is-active {
  color: #bbbfca;
}

.navbar-item img {
  max-height: 15rem;
}

.img {
  position: relative;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 45px;
}